<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- <nav class="navbar  navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">FeedBack</a>
			</div>
			<div class="collapse navbar-collapse">	
				<ul class="nav navbar-nav">
					<li><a href="#">Subject</a></li>
					<li><a href="#">Faculty</a></li>
					<li><a href="#">Report</a></li>
				</ul>
			</div>
			</div>

	</nav> -->





<div class="w3-bar  w3-blue">


  <a href="#" class="w3-bar-item w3-button  "><i class="fa fa-home"></i>Home</a>
 

 <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Faculty</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">View Faculty</a>
        <a href="#" class="w3-bar-item w3-button">Add Faculty</a>
        <a href="#" class="w3-bar-item w3-button">Edit Faculty</a>
         <a href="#" class="w3-bar-item w3-button">Delete Faculty</a>
      </div>
    </div>

 

  <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Subject</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey <!-- w3-teal -->">
        <a href="#" class="w3-bar-item w3-button">View Subject</a>
        <a href="#" class="w3-bar-item w3-button">Add Subject</a>
        <a href="#" class="w3-bar-item w3-button">Delete Subject</a>
      </div>
    </div>


  <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Section</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">Create Section</a>
        <a href="#" class="w3-bar-item w3-button">Add Section</a>
        <a href="#" class="w3-bar-item w3-button">View Section</a>
      </div>
    </div>


 <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Report</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">Report Generation</a>
        <a href="#" class="w3-bar-item w3-button">Clear Report</a>
        
      </div>
    </div>


    <!-- <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Clear</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
      </div>
    </div>
 -->

   <!--  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button">Dropdown </button>
    <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
      <a href="#" class="w3-bar-item w3-button w3-mobile">Link 1</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile">Link 3</a>
    </div>

</div> -->
</div>

























	






<div class="container">
  <div class="col-md-12 " ><label><b>Name   </b></label>
	<input type="text" placeholder="Enter Name" name="useName" [(ngModel)]=user.userName id="uname" required>{{user.userName}}
	</div>
    	<div class="col-md-12 "><label><b>Password   </b></label>
	<input type="Password" placeholder="Enter Password" name="password" [(ngModel)]=user.password id="pswd" required>{{user.password}}<br>
</div>

<div class="col-md-12">
	<button type="submit" class="btn  w3-blue btn-block" (click)="onLog()" >Register</button>
</div>
</div>
</body>
</html>