<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="container">

<h1>
  register works!

</h1>
<label class="col-sm-2" ><b>Name</b></label>
	<input type="text" placeholder="Enter Name" name="useName" [(ngModel)]=user.userName id="regname" required>{{user.userName}}
	<br>
<label class="col-sm-2"><b>Email</b></label>	
<input type="email" placeholder="Enter Mail Id" name="email" [(ngModel)]=user.email id="regmail" required>{{user.email}}<br>
	<label class="col-sm-2"><b>Password</b></label>
	<input type="Password" placeholder="Enter Password" name="password" [(ngModel)]=user.password id="regpwd" required>{{user.password}}<br>
	<button type="submit" class="btn btn-success" (click)="onSubmit()" >Register</button>
</body>

</html>
	
	
